html, body, #canvas {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    height: 100%;
    width: 100%;
    font-size: 10pt;
    color: #444;
}

#search {
    height: 25%;
    background-color: #35A055;
    border-bottom: 1pt solid #158025;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search-form {
    background: none;
    height: 30px;
    border: none;
    padding: 0px 2px 5px 0px;
    color: white;
    margin: 8% 0% 0% 0%;
    font-size: 15pt;
}

#search-title {
    margin: 15px 30%;
    color: white;
    font-size: 20pt;
}

#search-icon {
    width: 25px;
    height: 25px;
}

#search-div {
    border-bottom: 1pt solid white;
    display: inline;
    width: 20%;
    padding: 0px 0px 3px 0px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /*left:50%;
    transform: translateX(-50%);*/
}

#author {
    align-items: center;
    justify-content: center;
    color: #9b9;
    font-size: 10;
}

#author a {
    color: #9b9;
    font-size: 10;
}

#container {
    padding: 4% 8%;
    text-align: justify;
}

p {
    text-align: justify;
}

b {
    color: black;
}

h1 {
    margin: 45px 0px 0px 0px;
}

#result {
    font-size: 14pt;
}
